ul {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    /* width: 50vh; */
  }
span{
vertical-align:top; 
display:inline-block; 
line-height:1.6em;
}
  
li {
    list-style-type: none;
}

button {
    margin-bottom: 8px;
    display : 'inline-block'
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }


.info {
    padding: 20px 140px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-right:10px
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
/* .navbar a{
    font-family: Verdana !important;
    height: 200px;
} */


/* 
@media screen and (max-width : 600px) {
    .desk {
            visibility:hidden;
            height:0;
    }
    .navbar-icon{
        height : 20;
    }
} */
